<ion-modal-view ng-init="post={'content':'','file':''}">
  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title">New Post</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide();post={'content':'','file':''}">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <textarea rows="4" ng-model="post.content" placeholder="what is in your mind ?"></textarea>
      </label>
      <div class="item item-image" ng-if="post.file!=''">
        <img data-ng-src="{{'data:image/jpeg;base64,'+post.file}}" style="height: 60%;width: 60%">
      </div>

      <button class="button button-full button-royal" ng-click="selectImage(post)">Select</button>
      <button class="button button-full button-royal" ng-click="save(post);modal.hide();">Create</button>
    </div>
  </ion-content>
</ion-modal-view>
